
/* CONTAINER */
.container-cards {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px 0 10px 0;
  background: white;
}

.content-cards {
  background: white;
  display: grid;
  grid-template-columns: .3fr auto;
  gap: 0 40px;
  width: 90%;
  height: 100%;
  grid-template-areas:
    ". ."
    ". .";
}



/* DIV CATEGORIES */
.container-categories-cards {
  margin: 0;
  width: 100%;
}

.list-categories-cards {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  font-size: 15px;
}

.categories-cards {
  width: 250px;
  padding: 15px 22px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.categories-cards a{
  text-decoration: none;
  color: #282828;
  margin: 0;
}

.categories-cards:nth-child(1) {
  border-top: 1px solid rgb(198, 198, 198);
  padding: 20px;
}

.text-filter {
  font-size: 13px;
  padding: 20px;
  font-weight: 700;
  border-top: .1px solid rgb(198, 198, 198);
  border-bottom: .1px solid rgb(198, 198, 198);
  cursor: initial;
}

.cards-filter {
  border-bottom: .1px solid rgb(198, 198, 198);
}






/* CONTAINER CARDS */
.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  gap: 10px;
  padding: 10px ;
  grid-template-areas:
    "."
    ".";
}



/* DIV COUNT & FILTER */
.product-count-order {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-count-order .count {
  font-size: 13px;

  padding: 0 0 0 10px;
}

.product-count-order .order {
  font-size: 13px;
  padding: 0 2px 0 0;
}

.product-count-order .order select {
  vertical-align: middle;
  border-radius: 0;
  height: 30px;
  outline: none;
  width: 165px;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 13px;
  padding: 0 10px;
  color: #282828;
  border-color: #282828;
}





/* UL CONTAINER PRODUCTS */
.product-info {
  margin: 10px 0;
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: auto;
  height: 100%;
  gap: 20px;
  box-sizing: border-box;
}

/* LI PRODUCTS */
.product-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: auto;
  height: 490px;
  position: relative;
  white-space: normal;
  hyphens: auto;
  word-wrap: break-word;
}




/* DIV IMAGE CARDS */
.product-image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* IMAGE */
.product-image img{
  width: 210px;
  height: 210px;
  cursor: pointer;
}




/* INFO PRODUCTS */
.info {
  width: 100%;
  padding: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  transition: background 0.2s ease-in;
}

.product-brand {
  font-size: 13px;
  margin: 0 0 5px 0;
  color: #dab028;
}

.product-name {
  font-size: 15px;
  margin: 0 0 20px 0;
  width: 100%;
  min-height: 70px;
}

.product-feedback span{
  font-size: 12px;
  margin: 10px 0 0 0;
}

.product-feedback .feedback{
  fill: #dab028;
  cursor: pointer;
}

.product-feedback {
  margin: 0 0 5px 0;
  display: flex;
  gap: 5px;
  align-items: center;
}

.product-discount {
  font-size: 13px;
  text-decoration: line-through;
}

.product-price span{
  font-size: 20px;
  font-weight: 900;
}

.product-parcels {
  font-size: 13px;
}



/* BUTTON INFO */
.container-product-button {
  display: none;
  width: 100%;
  margin: 15px 0 0 0;
}

.product-button {
  font-size: 13px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
  color: white;
  text-decoration: none;
  background: #dab028;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 700;
}

.info:hover {
  background: #e7e7e7;
}

.info:hover .container-product-button {
  display: flex;
}





/* MODAL IMAGE */
.product-modal-image {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 4;
}

/* Estilos para a imagem expandida no modal */
.product-modal-content {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  display: block;
}

/* Estilos para o botão de fechar o modal */
.product-modal-close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}





/* PRODUCT PAGES */

/* CONTAINER */
.product-footer {
  padding: 60px 5px 50px 5px;
  font-family: Poppins;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.product-page-number {
  display: flex;
  float: left;
  line-height: 25px;
  margin: 0 10px 5px;
  align-items: center;
  justify-content: center;
}


/* PAGE SELECTED */

.product-page-selected {
  background-color: #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8px;
  height: 20.5px;
  border-radius: 50%;
}

.product-page-selected a{
  text-align: center;
}



/* NUMBERS PAGE */
.product-page-number span{
  font-size: 13px;
  padding: 1px 7px;
  width: 8px;
  height: 20.5px;
}

.product-page-number span a{
  text-decoration: none;
  color: #282828;
}



/* ICON NEXT PAGE */
.product-page-next {
  margin: 0 0 0 10px;
}
.product-page-next a{
  fill: #8b8b8b;
}

.product-page-number span:hover {
  background-color: #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}







/* MEDIA QUERY */

@media (max-width: 1200px) {
  .content-cards {
    background: white;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    gap: 0;
    grid-template-areas: none;
  }


  .container-categories-cards {
    width: auto;
    padding: 0 40px 0 0;
  }

  .list-categories-cards {
    width: auto;
  }

  .categories-cards {
    width: auto;
  }

  .product-info {
    grid-template-columns: repeat(2, auto);
    gap: 10px;
  }

  .product-list {
    height: 460px;
  }

  .product-name {
    min-height: 50px;
  }
}



@media(max-width: 1000px){
  .content-cards {
    gap: 30px;
  }

  .product-count-order .order span{
    display: none;
  }

  .product-count-order .count{
    padding: 0 0 0 15px;
  }
  .product-count-order .order{
    padding: 0 15px 0 0;
  }

  .product-info {
    gap: 5px;
  }

  .info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    min-width: 180px;
    padding: 10px;
  }

  .product-list {
    padding: 10px;
    min-height: 365px;
    position: relative;
  }

  .product-image {
    width: auto;
    height: auto;
  }

  .product-image img{
    z-index: 1;
    max-width: 100%;
    height: auto !important;
  }

  .product-brand {
    font-size: 11px;
  }

  .product-name {
    font-size: 14px;
  }

  .product-price {
    font-size: 13px;
  }

  .product-price span{
    font-size: 18px;
  }

  .product-parcels {
    font-size: 11px;
  }

  .container-product-button {
    display: flex;
  }

}

@media(max-width: 770px) {
  .product-feedback {
    text-align: center;
  }

  .product-feedback {
    margin: 0 0 5px 0;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 520px) {
  .product-image img{
    width: 150px;
    height: 150px;
  }

  .product-list {
    height: 100%;
    min-height: 370px;
  }

  .product-info {
    gap: 25px 0;
  }

  .product-feedback .feedback svg{
    width: 12px;
  }

  .product-name {
    min-height: 65px;
    font-size: 13.5px;
    margin: 0 0 10px 0;
  }

}

@media(max-width: 420px) {
  .cards {
    padding: 5px;
  }


  .product-info {
    gap: 60px 0;
  }

  .product-image img{
    z-index: 1;
    width: 130px;
    height: 130px;
  }

  .container-categories-cards  {
    padding: 0;
  }

  .product-list {
    height: 100%;
    min-height: 390px;
  }


  .info {
    min-width: 130px;
  }

  .container-product-button a {
    font-size: 11px;
  }

  .container-product-button{
    width: 100%;
  }

  .product-count-order .order select {
    width: 127px;
    padding: 0;
  }

  .product-name {
    min-height: 70px;
    font-size: 12.6px;
    margin: 0 0 5px 0;
  }

}

@media (max-width: 340px) {

  .product-brand {
    font-size: 11px;
  }

  .product-name {
    min-height: 80px;
    font-size: 12.4px;
    margin: 0;
  }

  .info {
    min-width: 130px;
  }

  .product-info {
    gap: 50px 0;
  }

  .product-discount {
    font-size: 12px;
  }

  .product-price {
    font-size: 12px;
  }
  .product-price span{
    font-size: 16px;
  }

  .product-feedback .feedback svg{
    width: 11px;
  }

  .product-feedback {
    margin: 0 0 5px 0;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }

}


@media (max-width: 300px) {
  .container-product-button a{
    font-size: 10px;
    width: 100%;
    padding: 10px 0;
  }
}
